<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_admin}">

<th:block layout:fragment="css">

</th:block>

<div class="container-scroller">

    <div class="container-fluid page-body-wrapper">

        <div class="main-panel">
            <div layout:fragment="content" class="content-wrapper">
                <div class="page-header">

                </div>
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">영화 상세</h4><br><br><br>
                                <form class="form-sample">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="col-form-label">장르</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-check form-check-primary">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('액션')}">
                                                        액션
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-success">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('어드벤쳐')}">
                                                        어드벤쳐
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-info">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('판타지')}">
                                                        판타지
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-danger">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('드라마')}">
                                                        드라마
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-warning">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('스릴러')}">
                                                        스릴러
                                                        <i class="input-helper"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-check form-check-primary">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('공포')}">
                                                        공포
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-success">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('범죄')}">
                                                        범죄
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-info">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('다큐멘터리')}">
                                                        다큐멘터리
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-danger">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('멜로')}">
                                                        멜로
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-warning">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('로맨스')}">
                                                        로맨스
                                                        <i class="input-helper"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="form-check form-check-primary">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('애니메이션')}">
                                                        애니메이션
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-success">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('미스터리')}">
                                                        미스터리
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-info">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('코미디')}">
                                                        코미디
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <div class="form-check form-check-danger">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"
                                                               th:checked="${movie.genre.contains('기타')}">
                                                        기타
                                                        <i class="input-helper"></i></label>
                                                </div>
                                                <!--                                                <div class="form-check form-check-warning">-->
                                                <!--                                                    <label class="form-check-label">-->
                                                <!--                                                        <input type="checkbox" class="form-check-input" th:checked="${movie.genre.contains('')}">-->
                                                <!--                                                        로맨스-->
                                                <!--                                                        <i class="input-helper"></i></label>-->
                                                <!--                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">영화 제목</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:value="${movie.title}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">상영 등급</label>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-check form-check-primary">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input" name="rats"
                                                                       th:checked="${movie.rats == '전체관람가'}"
                                                                       th:value="${'전체관람가'}">
                                                                전체관람가
                                                                <i class="input-helper"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-success">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input" name="rats"
                                                                       th:checked="${movie.rats == '12세이상관람가'}"
                                                                       th:value="${'12세이상관람가'}">
                                                                12세이상관람가
                                                                <i class="input-helper"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-info">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input" name="rats"
                                                                       th:checked="${movie.rats == '15세이상관람가'}"
                                                                       th:value="${'15세이상관람가'}">
                                                                15세이상관람가
                                                                <i class="input-helper"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-danger">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input" name="rats"
                                                                       th:checked="${movie.rats == '18세이상관람가'}"
                                                                       th:value="${'18세이상관람가'}">
                                                                18세이상관람가
                                                                <i class="input-helper"></i></label>
                                                        </div>
                                                        <div class="form-check form-check-warning">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input" name="rats"
                                                                       th:checked="${movie.rats == 'none'}"
                                                                       th:value="${'none'}">
                                                                none
                                                                <i class="input-helper"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" th:if="${movie.isCrawling == 'N'}">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">스틸컷</label>
                                                <input type="file" name="img[]" class="file-upload-default" multiple="">
                                                <div class="input-group col-sm-9">
                                                    <input type="text"
                                                           class="form-control form-control-lg file-upload-info"
                                                           disabled="" placeholder="Upload Image" multiple="">
                                                    <span class="input-group-append">
                                                      <button class="file-upload-browse btn btn-gradient-primary"
                                                              type="button" style="height: 73%">Upload</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" th:if="${movie.isCrawling == 'N'}">
                                        <div class="col-md-12 thumbnail-box">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label"></label>
                                                <div class="col-sm-9">
                                                    <div class="col-lg-12">
                                                        <img src="https://cf.lottecinema.co.kr//Media/Event/1fa4c12645054dbbb5148917531ac456.jpg"
                                                             alt="" srcset="">
                                                        <button type="button"
                                                                class="btn btn-outline-secondary btn-rounded btn-icon text-danger">
                                                            x
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <img src="https://cf.lottecinema.co.kr//Media/Event/1fa4c12645054dbbb5148917531ac456.jpg"
                                                             alt="" srcset="">
                                                        <button type="button"
                                                                class="btn btn-outline-secondary btn-rounded btn-icon text-danger">
                                                            x
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" th:if="${movie.isCrawling == 'Y'}">
                                        <div class="col-md-12 thumbnail-box">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label"></label>
                                                <div class="col-sm-9">
                                                    <div class="col-lg-12" id="is_crawling">
                                                        <img src="https://cf.lottecinema.co.kr//Media/Event/1fa4c12645054dbbb5148917531ac456.jpg"
                                                             alt="" srcset="">
                                                    </div>
                                                    <div th:data-img="${movie.stlls}" id="stlls_text"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" th:if="${movie.isCrawling == 'N'}">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">트레일러(url)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"/>
                                                    <button type="button" class="btn btn-gradient-primary mr-2"
                                                            onclick="add_trailer()">+
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" th:if="${movie.isCrawling == 'Y'}">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">트레일러(url)</label>
                                                <div class="col-sm-9" id="video">

                                                </div>
                                                <div th:data-video="${movie.getTrailerVideo()}" id="video_text"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">감독명(콤마(,)로 구분)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:value="${movie.director}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">출연(콤마(,)로 구분)</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:value="${movie.actors}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">줄거리</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" id="exampleTextarea1" rows="8" th:text="${movie.content}">

                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-gradient-primary mr-2" style="float: right">
                                        등록
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        (function() {
            let img_arr = JSON.parse(document.getElementById("stlls_text").dataset.img)
            console.log(img_arr)
            let html = "";
            for (let img of img_arr) {
                html += '<div class="col-lg-12">\n' +
                    '<img src="' + img +'" alt="" srcset="">\n' +
                    '</div>'
            }
            document.getElementById("is_crawling").innerHTML = html;
        })();

        (function() {
            let vdo_arr = document.getElementById("video_text").dataset.video.split(",")
            console.log(vdo_arr)
            let html = "";
            for (let vdo of vdo_arr) {
                html += '<video controls class="col-lg-12">' +
                            '<source src="' + vdo +'" type="video/mp4" />' +
                        '</video>'
            }
            document.getElementById("video").innerHTML = html;
        })();


    </script>
</th:block>

</body>
</html>