<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_admin}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="css">

</th:block>

<div class="container-scroller">

    <div class="container-fluid page-body-wrapper">

        <div class="main-panel">
            <div layout:fragment="content" class="content-wrapper">
                <div class="page-header">
                    <!--                    <h3 class="page-title">-->
                    <!--                        Forms-->
                    <!--                    </h3>-->
                    <!--                    <nav aria-label="breadcrumb">-->
                    <!--                        <ol class="breadcrumb">-->
                    <!--                            <li class="breadcrumb-item"><a href="#">Forms</a></li>-->
                    <!--                            <li class="breadcrumb-item active" aria-current="page">Basic elements</li>-->
                    <!--                        </ol>-->
                    <!--                    </nav>-->
                </div>
                <div class="row">
                    <div class="col-8 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">영화관 이름</h4>
                                <form class="form-sample">
                                    <p class="card-description">
                                        상세정보
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">지역</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option th:each="loc:${locList}" th:value="${loc.id}"
                                                                th:text="${loc.name}"
                                                                th:selected="${loc.id == theater.location.id}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">영화관 명</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" th:field="${theater.name}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">우편번호</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="addr1" readonly
                                                           onclick="sample2_execDaumPostcode()"
                                                           th:field="${theater.zipcode}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">주소</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="addr2" readonly
                                                           onclick="sample2_execDaumPostcode()"
                                                           th:field="${theater.addr}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">상세주소</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="addr3"
                                                           th:field="${theater.addr_detail}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">참고</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="addr4" readonly
                                                           th:field="${theater.addr_ref}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">이미지</label>
                                                <input type="file" name="img[]" class="file-upload-default" id="img">
                                                <div class="input-group col-sm-9">
                                                    <input type="text"
                                                           class="form-control form-control-lg file-upload-info"
                                                           disabled="" placeholder="Upload Image"
                                                           th:value="${file.oriImgName}">
                                                    <span class="input-group-append">
                                                      <button class="file-upload-browse btn btn-gradient-primary"
                                                              type="button" style="height: 73%"
                                                              onclick="document.getElementById('img').click();">Upload</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 thumbnail-box">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label"></label>
                                                <div class="col-sm-9">
                                                    <img th:src="${file.imgUrl}" width="300px"
                                                         alt="" srcset="">
                                                    <button type="button"
                                                            class="btn btn-outline-secondary btn-rounded btn-icon text-danger">
                                                        x
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">공지</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" id="exampleTextarea1" rows="4"
                                                              th:field="${theater.content}">

                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-gradient-primary mr-2" style="float: right">
                                        저장
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 grid-margin">
                        <div class="card">
                            <div class="card-body" style="text-align: center">
                                <h4 class="card-title">상영관</h4>
                                <div class="row">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th colspan="2">
                                                <button type="button"
                                                        class="btn btn-outline-secondary btn-rounded btn-icon text-primary"
                                                        style="font-size: 20px" id="add_screen" onclick="screen_form()">
                                                    +
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="screen_list">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="layer"
                     style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
                         style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1"
                         onclick="closeDaumPostcode()"
                         alt="닫기 버튼">
                </div>
            </div>

        </div>
    </div>
</div>


<th:block layout:fragment="script">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=42c363b1a11639ed3b38c2aff5d31e54"></script>
    <script>

        // 우편번호 찾기 화면을 넣을 element
        var element_layer = document.getElementById('layer');

        function closeDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_layer.style.display = 'none';
        }

        function sample2_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("addr4").value = extraAddr;

                    } else {
                        document.getElementById("addr4").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('addr1').value = data.zonecode;
                    document.getElementById("addr2").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("addr3").focus();

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_layer.style.display = 'none';
                },
                width: '100%',
                height: '100%',
                maxSuggestItems: 5
            }).embed(element_layer);

            // iframe을 넣은 element를 보이게 한다.
            element_layer.style.display = 'block';

            // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
            initLayerPosition();
        }

        // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
        // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
        // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
        function initLayerPosition() {
            var width = 300; //우편번호서비스가 들어갈 element의 width
            var height = 400; //우편번호서비스가 들어갈 element의 height
            var borderWidth = 5; //샘플에서 사용하는 border의 두께

            // 위에서 선언한 값들을 실제 element에 넣는다.
            element_layer.style.width = width + 'px';
            element_layer.style.height = height + 'px';
            element_layer.style.border = borderWidth + 'px solid';
            // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
            element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width) / 2 - borderWidth) + 'px';
            element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height) / 2 - borderWidth) + 'px';
        }
    </script>
    <script>
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        let screen_name_arr = [];

        let delete_screen = (id) => {
            if (!id) {
                document.getElementById("screen_form").remove()
                get_screen();
            } else {
                $.ajax({
                    type: "post",
                    url: "/admin/movie/theater/screen/delete",
                    data: {
                        id: id
                    },
                    beforeSend: function (xhr) {
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (res) {
                        if(typeof res === 'string') {
                            res = JSON.parse(res)
                        }
                        get_screen();
                        if(res.msg !== 'success') {
                            alert("오류가 발생했습니다.")
                            location.reload()
                        }
                    }
                });
            }
        }

        let screen_form = () => {
            if (document.getElementById("screen_name")) {
                return
            } else {
                let html =
                    '<tr id="screen_form">' +
                    '<td>' +
                    '<input type="text" id="screen_name">' +
                    '</td>' +
                    '<td>' +
                    "<button type='button' class='btn btn-outline-secondary btn-rounded btn-icon' onclick='delete_screen()'><i class='mdi mdi-playlist-remove text-danger'></i></button>" +
                    "<button type='button' class='btn btn-outline-secondary btn-rounded btn-icon' onclick='post_screen()'><i class='mdi mdi-playlist-check text-info'></i></button>" +
                    '</td>' +
                    '</tr>';
                let list = document.getElementById("screen_list");
                if(list.querySelector("#null")) {
                    list.innerHTML = html;
                } else {
                    list.innerHTML += html;
                }
            }
        }

        let post_screen = () => {
            let name = document.getElementById("screen_name");
            let theater_id = [[${theater.id}]]
            if(screen_name_arr.indexOf(name.value) > -1) {
                alert("이미 등록된 상영관입니다.")
                return false;
            }

            $.ajax({
                type: "post",
                url: "/admin/movie/theater/screen/post",
                data: {
                    theater_id: theater_id,
                    name: name.value
                },
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                success: function (res) {
                    if(typeof res === 'string') {
                        res = JSON.parse(res)
                    }
                    if(res.msg === 'success') {
                        get_screen();
                    } else {
                        alert("에러가 발생했습니다.")
                        location.reload();
                    }
                }
            });
        }

        let get_screen = () => {
            let theater_id = [[${theater.id}]]
            // console.log(theater_id)
            let html = "";
            $.ajax({
                type: "get",
                url: "/admin/movie/theater/screen/get",
                data: {
                    id: theater_id
                },
                success: function (res) {
                    if (typeof res === 'string') {
                        res = JSON.parse(res)
                    }
                    // console.log(res)
                    if (res.msg === "success") {
                        let list = JSON.parse(res.list)
                        for (let screen of list) {
                            html += '<tr>' +
                                '<td><a href="/admin/movie/theater_screen?id=' + screen.id + '">' + screen.name + '관</a></td>' +
                                '<td>' +
                                '<button type="button" class="btn btn-outline-secondary btn-rounded btn-icon text-danger" onclick="delete_screen(' + screen.id + ')">' +
                                    'x' +
                                '</button>' +
                                '</td>' +
                                '</tr>'
                            screen_name_arr.push(screen.name)
                        }
                    } else {
                        html = '<td colspan="2" id="null">등록된 상영관이 없습니다.</td>'
                    }
                    document.getElementById("screen_list").innerHTML = html;
                }
            });
        }

        window.onload = () => {
            get_screen();

        }
    </script>
</th:block>
</body>

</html>
