body {
    background-color: #222 !important; /* 배경색 - 어두운 색상 */
    color: #FFFFFF; /* 텍스트 색상 - 연한 회색 */
    font-family: Arial, sans-serif; /* 글꼴 설정 */
}

.myContainer {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
    border: #ccc 1px solid;
    border-radius: 10px;
    padding: 20px;
    color: #FFFFFF;
}
.myPage{
    position: relative;
    color: #FFFFFF;
    top: 150px;
}
.myPage > h1{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.afterPay,.bookingInfo{
    max-width: 800px;
    margin: 5% auto;
    color: #FFFFFF;
}
p{
    color: #FFFFFF !important;
}
hr{
    color: #FFFFFF;
    max-width: 800px;
    width: 800px;
}

.point{
    margin-top: 1%;
    display:inline-block;
}
.greeting-section,
.info-section {
    background-color: #333; /* 섹션 배경색 - 어두운 색상 */
    border: 1px solid #444; /* 테두리 - 어두운 색상 */
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    color: #fff; /* 제목 색상 - 흰색 */
}

.greeting {
    font-size: 18px;
}

.user-info  {
    margin-top: 1%;
}

.profilesEdit{
    margin: auto 45%;
    white-space: nowrap;
    
}
.profilesEdit a{
    text-decoration : none;
    color: #fff;
}
.profilesEdit a:visited{
    color: #fff;
}
.profilesEdit a:hover{
    color: #8b8b8b;
}
.view-details {
    position: relative;
    bottom: 35px;
    left: 730px;
    display: block;
    background-color: #070707;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-details:hover {
    background-color: #9f9f9f;
}

