<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_user1}">

<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content">
    <!-- Start Blog Single -->
    <section class="blog-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="blog-single-main">
                        <div class="row">
                            <div class="col-12">
                                <div class="image">
                                    <img src="https://img.cgv.co.kr/Theater/Theater/2014/1211/CGVgangnam.jpg" alt="#">
                                </div>
                                <div class="blog-detail">
                                    <h2 class="blog-title">영화관 명</h2>
                                    <div class="blog-meta">
											<span class="author">
												<i class="fa fa-television"></i>총 상영관 수 : 10관 &nbsp;&nbsp;&nbsp;
												<i class="fa fa-braille"></i>총 좌석수 : 1200석
											</span>
                                    </div>
                                    <div class="content">
                                        <p>What a crazy time. I have five children in colleghigh school graduates.jpge
                                            or
                                            pursing post graduate studies Each of my children attends college far from
                                            home,
                                            the closest of which is more than 800 miles away. While I miss being with my
                                            older children, I know that a college experience can be the source of great
                                            growth and experience can be the source of source of great growth and can
                                            provide them with even greater in future.</p>
                                        <blockquote><i class="fa fa-quote-left"></i> Do what you love to do and give it
                                            your
                                            very best. Whether it's business or baseball, or the theater, or any field.
                                            If
                                            you don't love what you're doing and you can't give it your best, get out of
                                            it.
                                            Life is too short. You'll be an old man before you know it. risus. Ut
                                            tincidunt,
                                            erat eget feugiat eleifend, eros magna dapibus diam.
                                        </blockquote>
                                        <p>What a crazy time. I have five children in colleghigh school graduates.jpge
                                            or
                                            pursing post graduate studies Each of my children attends college far from
                                            home,
                                            the closest of which is more than 800 miles away. While I miss being with my
                                            older children, I know that a college experience can be the source of great
                                            growth and experience can be the source of source of great growth and can
                                            provide them with even greater in future.</p>
                                        <p>What a crazy time. I have five children in colleghigh school graduates.jpge
                                            or
                                            pursing post graduate studies Each of my children attends college far from
                                            home,
                                            the closest of which is more than 800 miles away. While I miss being with my
                                            older children, I know that a college experience can be the source of great
                                            growth and experience can be the source of source of great growth and can
                                            provide them with even greater in future.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Blog Single -->
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>