<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_user1}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/css/ticketing.css}">
    <style>
        .modal-body .row {
            margin: 0 auto !important;
            height: 100% !important;
        }

        .modal-dialog .modal-body {
            height: auto !important;
        }

        .modal-body .row div {
            padding: 0 !important;
            height: 100% !important;
        }
        .modal-body .row div img {
            height: 100% !important;
        }

        .modal-content {
            /*background: 0;*/
            border: 0;
        }

        .modal-dialog {
            width: 50% !important;
        }

        /*.tab-pane#description .tab-single .row{*/
        /*    margin: 10%;*/
        /*}*/

        .tab-pane#description .tab-single .row .col-lg-5.col-12 {
            margin: 4%;
        }

        .modal-body {
            /*align-self: end;*/
        }

        .ticketing ul {
            overflow: scroll;
            height: 600px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <!-- Shopping Cart -->
    <div class="shopping-cart section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 ticketing">
                            <div class="ticketing-header">
                                <div class="ticketing-title">
                                    영화관 선택
                                </div>
                            </div>
                            <div class="theater-location">
                                <ul>
                                    <li class="loc" th:each="loc, index:${locations}"
                                        th:classappend="${index.index == 0}? 'active' : ''" th:onclick="get_theaters([[${loc.id}]])" th:attr="data-id=${loc.id}">
                                        <span class="loc-name"><strong th:text="${loc.name}"></strong></span>
                                        <span class="loc-cnt">(11)</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="theater-select">
                                <ul id="theaters">
<!--                                    <li class="theaters" th:each="theater, index:${theaters}"-->
<!--                                        th:classappend="${index.index == 0}? 'active' : ''">-->
<!--                                        <span class="theater-name"><strong th:text="${theater.name}"></strong></span>-->
<!--                                    </li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 ticketing">
                            <div class="ticketing-header">
                                <div class="ticketing-title">
                                    영화 선택
                                </div>
                            </div>
                            <div class="movie-select">
                                <ul>
                                    <li class="movies" th:each="movie, index:${movies}"
                                        th:classappend="${index.index == 0}? 'active' : ''" th:attr="data-movieCd=${movie.movieCd}" th:onclick="schedule('', [[${movie.movieCd}]])">
                                        <strong class="movie-list-info">
                                            <span th:class="${movie.rats == '15세이상관람가'} ? 'gr_15' : 'd-none'"></span>
                                            <span th:class="${movie.rats == '전체관람가'} ? 'gr_all' : 'd-none'"></span>
                                            <span th:class="${movie.rats == '12세이상관람가'} ? 'gr_12' : 'd-none'"></span>
                                            <span th:class="${movie.rats == '18세이상관람가'} ? 'gr_18' : 'd-none'"></span>
                                            <span class="movie-name">
											    [[${movie.title}]]
										    </span>
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 ticketing">
                            <div class="ticketing-header">
                                <div class="ticketing-title">
                                    시간
                                </div>
                            </div>
                            <div class="row">
                                <div id="datepicker"></div>
                                <div class="year-month">
                                    <div id="month">
                                        <span id="year_val"></span>
                                    </div>
                                </div>
                                <div id="datepicker_row"></div>
                                <input type="hidden" name="" id="sel_day">
                                <p id="sel_day1" class="d-none"></p>
                            </div>
                            <div class="reservations">
                                <ul id="reservation_list">
                                    <li class="reservation">
                                        <div class="screen-info">
                                            <div class="screen-time">
                                                <p class="time start">11:00</p>
                                                ~
                                                <p class="time end">12:35</p>
                                            </div>
                                            <div class="screen-movie">
                                                <div class="movie-content">
                                                    <div class="movie-title">
                                                        <strong>웡카</strong></div>
                                                    <div class="movie-detail-info">
                                                        <em class="movie-dimension">2D</em>
                                                        <em class="movie-caption">(자막)</em>
                                                    </div>
                                                </div>
                                                <div class="screen-details">
                                                    <div class="screen-detail">3관</div>
                                                    <div class="screen-seat">50/130</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Shopping Cart -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
                                                                                                      aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="quickview-content">
                                <h2 id="modal_movie_title">영화제목영화제목영화제목영화제목</h2>
                                <div class="quickview-ratting-review">

                                </div>
                                <div class="quickview-peragraph">
                                    <p id="modal_seat_info">잔여좌석 : 30/96</p>
                                    <p id="modal_rats">해당영화는 만 12세 이상 관람가 영화입니다.</p>
                                </div>
                                <div class="add-to-cart" style="width: 100%; text-align: center">
                                    <button type="button" class="btn" onclick="save_schedule();">인원/좌석 선택</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->

</div>

<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        let datepicker = async () => {
            $("#datepicker").datepicker({
                showOtherMonths: true,
                minDate: 0,
                monthNames: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"], // 숫자로 된 월 이름 배열
                // 다른 옵션들...
                beforeShowDay: function (date) {
                    // Check if the date is Sunday (0)
                    if (date.getDay() === 0) {
                        // Apply highlighted class to Sundays
                        return [true, "highlighted", ""];
                    }
                    // Otherwise, return as is
                    return [true, "", ""];
                }
            });
            await sel_today();
            await draw_datepicker();
        }

        let draw_datepicker = async () => {
            let date = document.querySelectorAll(".ui-datepicker-calendar tbody td");
            let d = [];
            let next = document.createElement("button")
            let prev = document.createElement("button")
            next.textContent = '▶'
            next.id = 'next'
            prev.textContent = '◀'
            prev.id = 'prev'
            let years = document.querySelector(".ui-datepicker-year").textContent;
            let months = document.querySelector(".ui-datepicker-month").textContent;
            document.getElementById("datepicker_row").append(prev)
            for (let k of date) {
                let a = k.children[0];
                let obj = {};
                obj['tag'] = a.tagName;
                obj['date'] = a.textContent;
                obj['class'] = Array.from(k.classList);
                let tag1 = document.createElement("div")
                for (let c of obj['class']) {
                    tag1.classList.add(c)
                }
                // tag1.style.float = "left";

                let dt = years + "-" + months + "-" + a.textContent;
                let dw = new Date(dt).getDay()
                let arr_dw = ["일", "월", "화", "수", "목", "금", "토", "일"]

                tag1.innerHTML = "<strong><p>" + a.textContent + "</p><p>" + arr_dw[dw] + "</p></strong>";
                document.getElementById("datepicker_row").append(tag1)
                tag1.onclick = () => {
                    select(tag1);
                }
                // document.getElementById("datepicker_row").append(tag1)
                d.push(obj);
            }
            document.getElementById("datepicker_row").append(next)
            if (document.getElementById("prev")) {
                if (Number(months) === new Date().getMonth() + 1) {
                    document.getElementById("prev").style.display = 'none';
                }
            }
            let month_val = months;
            let year_val = years;
            if (months.indexOf("0") == 0) {
                month_val = months.replace("0", "")
            }
            // document.getElementById("month_val").textContent = month_val + " 월"
            document.getElementById("year_val").textContent = year_val + "년  " + month_val + "월"

            next.onclick = () => {
                document.querySelector(".ui-datepicker-next.ui-corner-all").click();
                document.getElementById("datepicker_row").innerHTML = ''
                draw_datepicker()
            }
            prev.onclick = () => {
                document.querySelector(".ui-datepicker-prev.ui-corner-all").click();
                document.getElementById("datepicker_row").innerHTML = ''
                draw_datepicker()
            }

            await sel_day();
        }

        let select = async (tag) => {
            let row = document.querySelectorAll("#datepicker_row > div")
            for (let r of row) {
                r.classList.remove("active")
            }
            tag.classList.add("active")
            await sel_day();
            await schedule();
        }

        let sel_today = () => {
            let today = document.querySelector(".ui-datepicker-today")
            today.classList.add("active")
        }

        let sel_day = async () => {
            let years = document.querySelector(".ui-datepicker-year").textContent;
            let months = document.querySelector(".ui-datepicker-month").textContent;
            let sel_day = document.getElementById("sel_day1")
            let month_val = months;
            let year_val = years;
            if (months.indexOf("0") === 0) {
                month_val = months.replace("0", "")
            }
            sel_day.value = year_val + "." + month_val + "." + document.querySelector("#datepicker_row > div.active p:nth-child(1)").textContent;
            document.getElementById("sel_day1").textContent = year_val + "." + month_val + "." + document.querySelector("#datepicker_row > div.active p:nth-child(1)").textContent;

            // let movieCd = document.querySelector(".movie-select .movies.active").dataset.movieCd;
            // let theaterId = document.querySelector("ul.theaters li.theaters.active").dataset.id;
            // await schedule(theaterId, movieCd);
        }

        let on_preloader = () => {
            document.querySelector(".preloader").style.display = 'block'
            $('body').addClass('no-scroll');
            // $('.preloader').delay(sec * 1000).fadeOut('slow');
            // setTimeout(function() {
            // //After 2s, the no-scroll class of the body will be removed
            // $('body').removeClass('no-scroll');
            // }, sec * 1000); //Here you can change preloader time
        }

        let off_preloader = (sec) => {
            $('.preloader').delay(sec * 1000).fadeOut('slow');
            setTimeout(function() {
            //After 2s, the no-scroll class of the body will be removed
            $('body').removeClass('no-scroll');
            }, sec * 1000); //Here you can change preloader time
        }

        let li_click = async () => {
            let ul = document.querySelectorAll(".ticketing ul")

            for (let u of ul) {
                u.addEventListener("click", function (e) {
                    if (e.target.tagName === 'LI' || e.target.closest("LI")) {
                        let tag;
                        if (e.target.tagName !== "LI") {
                            tag = e.target.closest("LI")
                        } else {
                            tag = e.target
                        }
                        let bro = document.getElementsByClassName(tag.classList[0])
                        for (let b of bro) {
                            b.classList.remove('active')
                        }
                        tag.classList.add('active')
                    }
                })
            }
        }

        let schedule = async (theaterId, movieCd) => {
            on_preloader()
            let html = '';
            console.log(movieCd)
            if(!movieCd) {
                movieCd = document.querySelector(".movies.active").dataset.moviecd;
            }
            if(!theaterId) {
                theaterId = document.querySelector("li.theaters.active").dataset.id;
            }
            let screeningDate = document.getElementById("sel_day1").textContent;
            let scd = new Date(Number(screeningDate.split(".")[0]), screeningDate.split(".")[1] - 1, Number(screeningDate.split(".")[2])).toISOString();
            // console.log(movieCd)
            // console.log(theaterId)
            // console.log(scd)

            $.ajax({
                type: "get",
                url: "/reservation/ticketing/get_schedule",
                data: {
                    theaterId: theaterId,
                    movieCd: movieCd,
                    screeningDate:scd
                },
                success: function (res) {
                    if(typeof res === 'string') {
                        res = JSON.parse(res)
                    }
                    if(res.msg === 'success') {
                        let schedules = JSON.parse(res.schedules)
                        console.log(schedules);
                        for(let sch of schedules) {
                            let span = '';
                            if(sch.RATS === '12세이상관람가') {
                                span = '<span class="rats gr_12"></span>'
                            } else if(sch.RATS === '15세이상관람가') {
                                span = '<span class="rats gr_15"></span>'
                            } else if(sch.RATS === '18세이상관람가') {
                                span = '<span class="rats gr_18"></span>'
                            } else if(sch.RATS === '전체관람가') {
                                span = '<span class="rats gr_all"></span>'
                            } else {
                                span = '<span class="rats gr_none"></span>'
                            }

                            html +=
                                '<li class="reservation" onclick="select_schedule(this)" data-id="'+ sch.SCHEDULE_ID +'">' +
                                    '<div class="screen-info">' +
                                        '<div class="screen-time">' +
                                            '<p class="time start">' +
                                                to_time(sch.START_TIME) +
                                            '</p>' +
                                            '~' +
                                            '<p class="time end">' +
                                                to_time(sch.END_TIME) +
                                            '</p>' +
                                        '</div>' +
                                        '<div class="screen-movie">' +
                                            '<div class="movie-content">' +
                                                '<div class="movie-title">' +
                                                    span +
                                                    '<span class="d-none sch_rats">'+ sch.RATS +'</span>' +
                                                    '<strong class="sch_movie_title">'+ sch.TITLE +'</strong>' +
                                                '</div>' +
                                                // '<div class="movie-detail-info">' +
                                                //     '<em class="movie-dimension">2D</em>' +
                                                //     '<em class="movie-caption">(자막)</em>' +
                                                // '</div>' +
                                            '</div>' +
                                            '<div class="screen-details">' +
                                                '<div class="screen-detail">' +
                                                    sch.NAME + '관' +
                                                '</div>' +
                                                '<div class="screen-seat sch_seat_info">' +
                                                    sch.SELECTED_SEAT + '/' + sch.SEAT +
                                                '</div>' +
                                            '</div>' +
                                        '</div>' +
                                    '</div>' +
                                '</li>';
                        }
                    } else {
                        
                    }
                    document.getElementById("reservation_list").innerHTML = html;
                }
            });
            await off_preloader(1);
            // await add_event();
        }

        let select_schedule = async (tag) => {
            let title = tag.querySelector(".sch_movie_title").textContent;
            let seat = tag.querySelector(".sch_seat_info").textContent;
            let rats = tag.querySelector(".sch_rats").textContent;

            document.getElementById("modal_movie_title").textContent = title;
            document.getElementById("modal_seat_info").textContent = seat;
            document.getElementById("modal_rats").textContent = "선택하신 영화는 " + rats + " 영화입니다."

            await open_modal(tag)
        }

        let open_modal = (tag) => {
            let a = document.createElement("a")
            a.href = "#";
            a.dataset.toggle = "modal"
            a.dataset.target = "#exampleModal";
            a.title = "Quick View";
            a.dataset.id = tag.dataset.id;
            document.body.append(a)
            a.click()
        }

        let to_time = (date) => {
            let d = new Date(date);
            let h = d.getHours().toString().padStart(2, '0');
            let m = d.getMinutes().toString().padStart(2, '0');
            return h + ":" + m;
        }

        let get_theaters = (locId) => {
            let html = '';
            $.ajax({
                type: "get",
                url: "/reservation/ticketing/get_theaters",
                data: {
                    loc_id:locId
                },
                success: async function (res) {
                    if(typeof res === 'string') {
                        res = JSON.parse(res);
                    }
                    let list = document.getElementById("theaters");
                    if(res.msg === 'success') {
                        let theaters = JSON.parse(res.theaters)
                        let idx = 0;
                        for(let tht of theaters) {
                            html +=
                                '<li class="theaters '+ ((idx === 0)? 'active': '') + '" data-id="'+ tht.id +'" onclick="schedule('+ tht.id +', '+ document.querySelector(".movies.active").dataset.moviecd +')">' +
                                '<span class="theater-name"><strong>'+ tht.name +'</strong></span>' +
                                '</li>';
                            idx++;
                        }
                    } else {
                        html = '';
                    }
                    list.innerHTML = html;

                    await schedule();
                }
            });
        }

        let save_schedule = async () => {
            let data = {
                schedule_id: document.querySelector(".reservation.active").dataset.id
            }
            sessionStorage.setItem("info", JSON.stringify(data));
            await next_page();
        }

        let next_page = () => {
            location.href = "/reservation/ticketing/seat";
        }

        $(document).ready(function () {
            datepicker();
            li_click();
            get_theaters(document.querySelector(".theater-location .loc.active").dataset.id);
        });
    </script>
</th:block>
</html>