<!DOCTYPE html>
<html lang="en">
<div th:fragment="footer">
    <footer class="footer">
        <div class="footer_area">
            <div class="footer-container">
                <div class="first-line">
                    <h1 class="logologo">HIC</h1>

                </div>

                <div class="second-line">
                    <div class="second-line-container">
                        <ul class="menu">
                            <li><a href="">이용약관</a></li>
                            <li>|</li>
                            <li><a href="">개인정보 처리방침</a></li>
                            <li>|</li>
                            <li><a href="">이메일무단수집거부</a></li>
                            <li>|</li>
                            <li><a href="">서비스 이용약관</a></li>
                            <li>|</li>
                            <li><a href="">고정형 영상정보처리기기 운영 및 관리방침 </a></li>
                            <li>|</li>
                            <li><a href="">배정기준</a></li>
                            <li>|</li>
                            <li><a href="">윤리경영</a></li>
                            <li>|</li>
                            <li><a href="">사회적책임</a></li>
                        </ul>
                        <ul class="company-info">
                            <li>회사명: HICINEMA</li>
                            <li>대표: HICINEMA</li>
                            <li>사업자등록번호: 220-11-0000</li>
                        </ul>
                        <div>주소: 서울특별시 용산구 한강대로 23길 55, 아이파크몰 6층(한강로동)</div>
                        <ul class="company-contact">

                            <li>대표: HICINEMA</li>
                            <li>|</li>
                            <li>대표 E-MAIL : hicinema@hicinema.net</li>
                            <li>|</li>
                            <li>통신판매업신고번호 제1184호</li>
                            <li>|</li>
                            <li>사업자등록번호 313-87-00979</li>
                            <li>|</li>
                            <li>사업자정보확인</li>
                            <li>|</li>
                            <li>개인정보 보호</li>


                        </ul>
                        <div class="second-line">

                            <div>Copyright (c) 2024 STMALL. ALL Rights Reserved</div>
                            <div class="social_icon">

                                <a href=""><i class="fa-brands fa-youtube back"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-facebook"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
</html>