<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Eshop Color Plate -->
    <div class="color-plate ">
        <a class="color-plate-icon"><i class="ti-paint-bucket"></i></a>
        <h4>Eshop Colors</h4>
        <p>Here is some awesome color's available on Eshop Template.</p>
        <span class="color1"></span>
        <span class="color2"></span>
        <span class="color3"></span>
        <span class="color4"></span>
        <span class="color5"></span>
        <span class="color6"></span>
        <span class="color7"></span>
        <span class="color8"></span>
        <span class="color9"></span>
        <span class="color10"></span>
        <span class="color11"></span>
        <span class="color12"></span>
    </div>
    <!-- /End Color Plate -->
    <header class="header shop v3" id="before">
        <div class="middle-inner">
            <div class="container">
                <div class="header_content">
                    <div class="top_navmenu">
                        <div class="hicinema_logo">
                            <h1 class="logologo" data-text="HIC">
                                <a th:href="@{/}">HIC</a>
                            </h1>
                            <span>ENJOY CULTUREFLEX</span>
                        </div>
                        <div class="member_menu">
                            <ul class="memberInfo">
                                <li>
                                    <a  sec:authorize="isAnonymous()" th:href="@{/member/login}"
                                    ><i class="fa-solid fa-lock"></i><span>로그인</span></a
                                    >
                                    
                                    
                                    <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}"
                                    
                                    ><i class="fa-solid fa-arrow-right-from-bracket"></i><span>로그아웃</span></a
                                    >
                                </li>
                                <li>  
                                    <a sec:authorize="isAnonymous()" th:href="@{/member/register}"
                                    ><i class="fa-solid fa-user-plus"></i
                                    ><span>회원가입</span></a
                                    >
                                </li>
                                <li>
                                    <a sec:authorize="isAuthenticated()" th:href="@{/member/mypage_main}"
                                    ><i class="fa-solid fa-user-large"></i
                                    ><span>마이페이지</span></a
                                    >
                                </li>
                                <li>
                                    <a href=""
                                    ><i class="ti-headphone-alt"></i><span>고객센터</span></a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header_line"></div>

                    <div class="bottom_navmenu">
                        <nav id="nav">
                            <ul>
                                <li>
                                    <a href="">예매</a>
                                    <div>
                                        <ul>
                                            <li><<a href="/reservation/ticketing">예매하기</a></li>
                                            <li><a href="">상영시간표</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">영화</a>
                                    <div>
                                        <ul>
                                            <li><a href="/movie/list?type=n">현재상영작</a></li>
                                            <li><a href="/movie/list?type=e">상영예정작</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">영화관</a>
                                    <div>
                                        <ul>
                                            <li>
                                                <a href="">서울</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">경기/인천</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">1가산디지털</a></li>
                                                        <li><a href="">1노원</a></li>
                                                        <li><a href="">종로1</a></li>
                                                        <li><a href="">가산1디지털</a></li>
                                                        <li><a href="">노원1</a></li>
                                                        <li><a href="">종로1</a></li>
                                                        <li><a href="">가산디지털1</a></li>
                                                        <li><a href="">노원1</a></li>
                                                        <li><a href="">종로1</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">충청/대전</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">전라/광주</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털2</a></li>
                                                        <li><a href="">노원2</a></li>
                                                        <li><a href="">종로2</a></li>
                                                        <li><a href="">가산디지털2</a></li>
                                                        <li><a href="">노원2</a></li>
                                                        <li><a href="">종로2</a></li>
                                                        <li><a href="">가산디지털2</a></li>
                                                        <li><a href="">노원2</a></li>
                                                        <li><a href="">종로2</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">경북/대구</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털3</a></li>
                                                        <li><a href="">노원3</a></li>
                                                        <li><a href="">종로3</a></li>
                                                        <li><a href="">가산디지털3</a></li>
                                                        <li><a href="">노원3</a></li>
                                                        <li><a href="">종로3</a></li>
                                                        <li><a href="">가산디지털3</a></li>
                                                        <li><a href="">노원3</a></li>
                                                        <li><a href="">종로3</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">경남/부산/울산</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털4</a></li>
                                                        <li><a href="">노원4</a></li>
                                                        <li><a href="">종로4</a></li>
                                                        <li><a href="">가산디지털4</a></li>
                                                        <li><a href="">노원4</a></li>
                                                        <li><a href="">종로4</a></li>
                                                        <li><a href="">가산디지털4</a></li>
                                                        <li><a href="">노원4</a></li>
                                                        <li><a href="">종로4</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">강원</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털5</a></li>
                                                        <li><a href="">노원5</a></li>
                                                        <li><a href="">종로5</a></li>
                                                        <li><a href="">가산디지털5</a></li>
                                                        <li><a href="">노원5</a></li>
                                                        <li><a href="">종로5</a></li>
                                                        <li><a href="">가산디지털5</a></li>
                                                        <li><a href="">노원5</a></li>
                                                        <li><a href="">종로5</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">제주</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털6</a></li>
                                                        <li><a href="">노원6</a></li>
                                                        <li><a href="">종로6</a></li>
                                                        <li><a href="">가산디지털6</a></li>
                                                        <li><a href="">노원6</a></li>
                                                        <li><a href="">종로6</a></li>
                                                        <li><a href="">가산디지털6</a></li>
                                                        <li><a href="">노원6</a></li>
                                                        <li><a href="">종로6</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">이벤트</a>
                                    <div>
                                        <ul>
                                            <li><a href="">진행중인 이벤트</a></li>
                                            <li><a href="">지난 이벤트</a></li>
                                            <li><a href="">당첨자발표</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">스토어</a>
                                    <div>
                                        <ul>
                                            <li><a href="">베스트</a></li>
                                            <li><a href="">스낵/음료</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>

                        <div class="search_form">
                            <div class="search">
                                <form>
                                    <input type="text" placeholder=" search" name="search" />
                                    <button class="button" value="search" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="header shop v3" id="after">
        <!-- 고정 헤더 디자인 ============================ -->

        <div class="middle-inner">
            <div class="container">
                <div class="header_content">
                    <div class="top_navmenu">
                        <div class="hicinema_logo">
                            <h1 class="logologo" data-text="HIC">
                                <a href="">HIC</a>
                            </h1>
                        </div>

                        <nav id="nav2">
                            <ul>
                                <li>
                                    <a href="">예매</a>
                                    <div>
                                        <ul>
                                            <li><a href="">예매하기</a></li>
                                            <li><a href="">상영시간표</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">영화</a>
                                    <div>
                                        <ul>
                                            <li><a href="">현재상영작</a></li>
                                            <li><a href="">상영예정작</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">영화관</a>
                                    <div>
                                        <ul>
                                            <li>
                                                <a href="">서울</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">경기/인천</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">1가산디지털</a></li>
                                                        <li><a href="">1노원</a></li>
                                                        <li><a href="">종로1</a></li>
                                                        <li><a href="">가산1디지털</a></li>
                                                        <li><a href="">노원1</a></li>
                                                        <li><a href="">종로1</a></li>
                                                        <li><a href="">가산디지털1</a></li>
                                                        <li><a href="">노원1</a></li>
                                                        <li><a href="">종로1</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">충청/대전</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                        <li><a href="">가산디지털</a></li>
                                                        <li><a href="">노원</a></li>
                                                        <li><a href="">종로</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">전라/광주</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털2</a></li>
                                                        <li><a href="">노원2</a></li>
                                                        <li><a href="">종로2</a></li>
                                                        <li><a href="">가산디지털2</a></li>
                                                        <li><a href="">노원2</a></li>
                                                        <li><a href="">종로2</a></li>
                                                        <li><a href="">가산디지털2</a></li>
                                                        <li><a href="">노원2</a></li>
                                                        <li><a href="">종로2</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">경북/대구</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털3</a></li>
                                                        <li><a href="">노원3</a></li>
                                                        <li><a href="">종로3</a></li>
                                                        <li><a href="">가산디지털3</a></li>
                                                        <li><a href="">노원3</a></li>
                                                        <li><a href="">종로3</a></li>
                                                        <li><a href="">가산디지털3</a></li>
                                                        <li><a href="">노원3</a></li>
                                                        <li><a href="">종로3</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">경남/부산/울산</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털4</a></li>
                                                        <li><a href="">노원4</a></li>
                                                        <li><a href="">종로4</a></li>
                                                        <li><a href="">가산디지털4</a></li>
                                                        <li><a href="">노원4</a></li>
                                                        <li><a href="">종로4</a></li>
                                                        <li><a href="">가산디지털4</a></li>
                                                        <li><a href="">노원4</a></li>
                                                        <li><a href="">종로4</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">강원</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털5</a></li>
                                                        <li><a href="">노원5</a></li>
                                                        <li><a href="">종로5</a></li>
                                                        <li><a href="">가산디지털5</a></li>
                                                        <li><a href="">노원5</a></li>
                                                        <li><a href="">종로5</a></li>
                                                        <li><a href="">가산디지털5</a></li>
                                                        <li><a href="">노원5</a></li>
                                                        <li><a href="">종로5</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="">제주</a>
                                                <div>
                                                    <ul>
                                                        <li><a href="">가산디지털6</a></li>
                                                        <li><a href="">노원6</a></li>
                                                        <li><a href="">종로6</a></li>
                                                        <li><a href="">가산디지털6</a></li>
                                                        <li><a href="">노원6</a></li>
                                                        <li><a href="">종로6</a></li>
                                                        <li><a href="">가산디지털6</a></li>
                                                        <li><a href="">노원6</a></li>
                                                        <li><a href="">종로6</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">이벤트</a>
                                    <div>
                                        <ul>
                                            <li><a href="">진행중인 이벤트</a></li>
                                            <li><a href="">지난 이벤트</a></li>
                                            <li><a href="">당첨자발표</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="">스토어</a>
                                    <div>
                                        <ul>
                                            <li><a href="">베스트</a></li>
                                            <li><a href="">스낵/음료</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>

                        <div class="my">
                        
                            <a href="마이영화관"><i class="fa-solid fa-star"></i></a>
							<a href="마이페이지"><i class="fa-solid fa-user"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</html>