.footer{
	background:#222;
  /* position: relative !important; */
  
}
body{
  margin:0;
  font-family: "Noto Sans KR", sans-serif;
}
.footer_area{
  background-color: #cdcdcd !important;
  color:#787878 !important;
  /*position: absolute !important;*/
  /*bottom:0 ;*/
  width: 100%;
  /* border:solid 1px #994444 ; */
  
}
.footer-container{
  padding: 25px 10px 3px 10px;
  width : 60%;
  margin: 0 auto;
  /* border:solid 1px #06481c !important; */
}
.first-line{
  display: flex;
  /* padding-bottom: 10px; */
  align-items:flex-start;
  /* border:solid 1px #06481c ; */
}

.logologo {
  font-family: Russo One;
  letter-spacing: 2px;
  color:#8a8a8a;
  font-size: 3em;
  position: relative;
}

footer ul{
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}

.second-line{
  display: flex;
  /* justify-content: space-between; */
  /* color: #ffffff; */
}
.second-line-container{
  width: 100%;
}
.menu{
  margin-bottom:20px;
  /* display: flex; */
  /* justify-content: space-between; */
}
.menu li{
  margin-right:17px;
  /* font-weight:bold; */
}
.company-info li{
  margin-right: 10px;
  font-size: 14px;
}
.company-contact li{
  margin-right: 10px;
  font-size: 14px;
}

.second-line{
  font-size: 13px;
  margin: 27px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-line div{
  margin-top: 5px;
}


.info{
  margin-right:10px
}
/* .social_icon {
  margin-right: 70px !important;
} */

.social_icon > a > i{
background-color: #8c8c8c;
padding: 7PX;
font-size: 15px;
color: #fff;
border-radius: 50%;
margin-right: 2px;
}

.social_icon > a > i:hover{
  background-color: #9169a5;
  padding: 7PX;
  font-size: 15px;
  color: hsl(315, 80%, 96%);
  border-radius: 50%;
  margin-right: 2px;
  }