<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout_user2}">
      
<th:block layout:fragment="css">
<link rel="stylesheet" th:href="@{/css/color/color1_knk.css}">
<link rel="stylesheet" th:href="@{/css/style_knk2.css}">
<link rel="stylesheet" th:href="@{/css/style_knk.css}">
<link rel="stylesheet" th:href="@{/css/owl-carousel_knk.css}">
<link rel="stylesheet" th:href="@{/css/reset_knk.css}">

<style>
.section {
    padding: 200px 0 100px 0;
    }
</style>

</th:block>



<div layout:fragment="content">
	<!-- Start Blog Single -->
	<section class="blog-single section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-12">
					<div class="main-sidebar">
						<!-- Single Widget -->
						<div class="single-widget">
							<a href="mypage_knk.html"><h2 class="mypage">마이페이지</h2></a>
						</div>
						<!--/ End Single Widget -->
						
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">나의 예매내역</h3>
							<ul class="categor-list">
								<li><a href="mypage_ticketing_knk.html">예매내역</a></li>
								<li><a href="mypage_ticketing_cancel_knk.html">취소내역</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->

						

						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">내가 본 영화</h3>
							<ul class="categor-list">
								<li><a href="#">내가 본 영화</a></li>
								<li><a href="#">내가 쓴 평점</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
						
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">스토어</h3>
							<ul class="categor-list">
								<li><a href="#">결제내역</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
						

						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">회원정보</h3>
							<ul class="categor-list">
								<li><a th:href="@{/member/mypage_edit}">개인정보 수정</a></li>
								<li><a href="mypage_secession_knk.html">회원탈퇴</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
						<!-- Single Widget -->
						<div class="single-widget category">
							<h3 class="title">나의 문의내역</h3>
							<ul class="categor-list">
								<li><a href="#">1:1 문의</a></li>
							</ul>
						</div>
						<!--/ End Single Widget -->
						
					</div>
				</div>
				<div class="col-lg-9 col-12">
					<div class="blog-single-main">
						<div class="row">
							<div class="col-12">
								<h2 class="info-title">개인정보 수정</h2>
								<table class="info-table">
									<tbody>
										<tr>
											<th>
												아이디
											</th>
											<td>
												<span th:text="${#authentication.name}"></span>
											</td>
										</tr>
									</tbody>
								</table>
								<h class="info-title2">기본정보</h>
								
								<table class="info-table">
									<tbody>
										<tr>
											<th class="info1">
												이름
											</th>
											<td class="info1">
												<span th:text="${principal.name}"></span>
											</td>
										</tr>
										<tr>
											<th class="info1">
												휴대폰 번호
											</th>
											<td class="info1">
												<input type="text" name="phone-number" placeholder="010-0000-0000"
													required="required">
											</td>
										</tr>
										<tr>
											<th class="info1">
												이메일
											</th>
											<td class="info1">
												<input type="text" name="email" placeholder="ooo@ooo.com"
													required="required">
											</td>
										</tr>
										<tr>
											<th>
												비밀번호
											</th>
											<td>
												<input type="password" name="password" placeholder=""
												required="required">
											</td>
										</tr>
									</tbody>
								</table>
								<div class="infobtn">
									<a href="#" class="btn">수정</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--/ End Blog Single -->
	
</div>
	
		
</html>